:root {
  --font-family: 'Behind Content', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  //colors
  --color-primary: #000;
  --color-secondary: #6c757d;
  --color-action: #25D366;
  --color-brand: #FF4500;

  --color-font-primary: #000;
  --color-font-contrast: #fff;
  --color-font-secondary: #7d7d7d;

  --color-warning: #CD6900;
  --color-success: #41A05B;
  --color-error: #FB5959;

  --color-neutral-tint-10: #FFFFFF1A;
  --color-neutral-tint-20: #FFFFFF33;
  --color-neutral-tint-30: #FFFFFF4D;
  --color-neutral-tint-40: #FFFFFF66;
  --color-neutral-tint-50: #FFFFFF80;
  --color-neutral-tint-60: #FFFFFF99;
  --color-neutral-tint-70: #FFFFFFB3;
  --color-neutral-tint-80: #FFFFFFCC;
  --color-neutral-tint-90: #FFFFFFE6;
  --color-neutral: #FFFFFF;

  --color-surface-default: #fff;
  --color-surface-contrast: #000;

  --color-border-default: #000;
  --color-border-contrast: #fff;

  //sizes
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 79px;

  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 6px;

  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  --breakpoint-xs: 0px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}